<h1>Produtos</h1>
<div class="form-control">
    {{!-- Formulario para adcionar produto
        ( Nome, Descrição, Valor )
        "Ao criar o produto formará uma entrada e uma saida vazia"
    --}}
    <h2>Adicionar produto</h2>
    <form action="/admin/addproduto" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="produto">Produto</label>
                        <input name="nome" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="descricao">Valor</label>
                        <input name="valor" type="number" class="form-control" id="valor" placeholder="Valor" required>
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <input name="descricao" type="text" class="form-control" id="descricao" placeholder="Uma Breve descrição do produto" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="imagem">Imagem</label>
                        <input name="thumbnail" type="file" class="form-control" id="imagem" placeholder="Uma Breve descrição do produto" required>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<br>
<hr>
<br>
<div class="container">
    <div class="d-flex">
        <div class="card d-flex">
            {{#each produtos}}
                <div class="card-body">
                    <img class="rounded img-thumbnail" style="width: 200px; height: 200px;" src="./../../../files/{{thumbnail}}" alt="{{thumbnail}}"><br>
                    <label>Produto: {{nome}} </label><br>
                    <span>Valor: </span><span>{{valor}}</span><br>
                    <label>Descricao: {{descricao}} </label><br>
                    <button class="btn btn-success btn-block">Add Estoque</button><br>
                    <form method="post" action="/admin/editproduto/{{_id}}?_method=PUT">
                        <input type="hidden" name="_method" value="PUT">
                        <button class="btn btn-warning btn-block" type="submit">Editar</button><br>
                    </form>
                    <form method="post" action="/admin/deleteproduto/{{_id}}?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block" type="submit">Excluir</button>
                    </form>
                </div>
            {{else}}
                <div class="card-body">
                    <img class="rounded img-thumbnail" style="width: 200px; height: 200px;" src="" alt="..."><br>
                    <label>Produto: </label><br>
                    <span>Valor: </span><span>R$ </span><br>
                    <button class="btn btn-success btn-block" disabled>Add Estoque</button><br>
                    <button class="btn btn-warning btn-block" disabled>Editar</button><br>
                    <button class="btn btn-danger btn-block" disabled>Excluir</button>
                </div>
            {{/each}}
        </div>
    </div>
</div>