<header id="header">
    <style>
        #header .nav-item:nth-child(3):hover ~ .active{
            transform:translateX(12.5rem) !important;
        }
        #header .nav-item:nth-child(4):hover ~ .active{
            transform:translateX(19rem) !important;
        }
    </style>
    <title>Página Inicial- E-commerce</title>
    <nav class="navbar navbar-expand-lg navbar-light container-fluid">
        <a href="/" class="navbar-brand">j7 eShop</a>
        
        <button class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="true">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#header" class="nav-link"><i class="fas fa-home"></i> Inicio</a></li>
                {{#if user}}
                    {{#if admin}}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"><i class="fas fa-user"></i> ADMIN</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href=""><i class="fas fa-user"></i> {{user}}</a>
                                <a class="dropdown-item" href="/admin/produtos"><i class="fas fa-user-cog"></i> Painel</a>
                                <a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </li>
                    {{else}}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"><i class="fas fa-user"></i> User</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href=""><i class="fas fa-user"></i> {{user}}</a>
                                <a class="dropdown-item" href="/meuspedidos"><i class="fas fa-shopping-basket"></i> Meus pedidos</a>
                                <a class="dropdown-item" href="/user/meusdados"><i class="fas fa-address-book"></i> Meus dados</a>
                                <a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </li>
                    {{/if}}
                {{else}}
                    <li class="nav-item"><a href="/user/login" class="nav-link"><i class="fas fa-user"></i> login</a></li>
                {{/if}}
                <li class="nav-item"><a href="/compra/carrinho" class="nav-link"><i class="fas fa-shopping-cart"></i> Carrinho</a></li>
                <li class="nav-item"><a href="#footer" class="nav-link"><i class="fas fa-mobile-alt"></i> Contato</a></li>
                <div class="active"></div>
                <li class="nav-item">
                    <form action="/pesquisa" method="get">
                        <input type="text" maxlength="30" name="search" id="search" class="h-search-sm h-search" placeholder="Pesquisar produtos">
                        <button class="icon" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- aqui vai o conteudo main  -->
<main id="main">
    <section id="cards-j7">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-4 col-sm-12 d-flex justify-content-center">
                    <div class="block">
                        <a href="produto.html" target="_blank">
                            <img src="/public/img/produto3.png" alt="img" class="img-product">
                        </a>
                    </div>
                
                    <div class="describe-product">
                        <div class="d-especifications">
                            <span class="desc">10%</span>
                            <h2 class="title__product">Placa mãe Gigabyte</h2>
                        </div>
                        <p class="currency">R$255,90</p>
                        <div class="stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div> 
                    </div>

                </div>
    
                <div class="col-md-4 col-sm-12 d-flex justify-content-center">
                    <div class="block">
                        <a target="_blank" href="produto.html">
                            <img src="/public/img/produto1.png" alt="img" class="img-product">
                        </a>
                    </div>
                
                    <div class="describe-product">
                        <div class="d-especifications">
                            <span class="desc">50%</span>
                            <h2 class="title__product">PC Gamer - Extreme</h2>
                        </div>
                        <p class="currency">R$1800,00</p>
                        <div class="stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                                
                    </div>
                </div>
    
                <div class="col-md-4 col-sm-12 d-flex justify-content-center">
                    <div class="block">
                        <a href="produto.html" target="_blank">
                            <img src="/public/img/produto2.png" alt="img" class="img-product">
                        </a>
                    </div>
                
                    <div class="describe-product">
                        <span class="desc">
                            <i class="fas fa-cart-plus"></i>
                        </span>
                        
                        <div class="d-especifications">
                            <h2 class="title__product">Monitor DELL 20'p</h2>
                        </div>
                        <p class="currency">R$500,00</p>

                        <div class="stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                                
                    </div>
                </div>

                <!-- fim da linha -->
            </div>
        </div>
    </section>

    <section id="my-cards" class="container-fluid">
        <div class="row d-flex">

            {{#each produtos}}
                <div class="col-md-4 mt-3">
                    <div class="product-card" id="item{{@index}}">
                        <a href="produto/{{_id}}" style="text-decoration: none;">
                            <h1>{{nome}}</h1>
                            <p>{{descricao}}</p>
                            <img id="image{{@index}}" src="/files/{{thumbnail}}" height="300px" width="100%" alt="">
                        </a>
                        <div class="product-images">
                            <img src="/files/{{thumbnail}}"  alt="">
                            <img src="files/{{thumbnail2}}" alt="">
                            <img src="files/{{thumbnail3}}" alt="">
                            <img src="files/{{thumbnail4}}" alt="">
                            <div class="start"></div>
                        </div>
                        <div class="product-info">
                            <div class="product__price">R$ {{valor}},00</div>
                            <form action="produto/{{_id}}" method="get" class="form-card">
                                <button type="submit" action="produto.html" class="product__button">Comprar</button>
                            </form>
                        </div>
                    </div>
                </div>

                <script>
                    $('#item{{@index}} img:nth-child(1)').on('click',function(){    
                        $('#item{{@index}} .start').css({left:'7%'})
                        $('#image{{@index}}').attr('src','files/{{thumbnail}}')
                    })

                    $('#item{{@index}} img:nth-child(2)').on('click',function(){
                        $('#item{{@index}} .start').css({left:'30%'})
                        $('#image{{@index}}').attr('src','files/{{thumbnail2}}')
                    })

                    $('#item{{@index}} img:nth-child(3)').on('click',function(){
                        $('#item{{@index}} .start').css({left:'51%'})
                        $('#image{{@index}}').attr('src','files/{{thumbnail3}}')
                    })

                    $('#item{{@index}} img:nth-child(4)').on('click',function(){
                        $('#item{{@index}} .start').css({left:'72%'})
                        $('#image{{@index}}').attr('src','files/{{thumbnail4}}')
                    })

                </script>
            {{else}}
                <h2> Nenhum item foi encontrado!</h2>           
            {{/each}}

        </div>
    </section>
</main>

