<header id="header">
    <link rel="stylesheet" href="/public/css/templates/produto.css">
    <nav class="navbar navbar-expand-lg navbar-light container-fluid">
        <a href="/" class="navbar-brand">j7 eShop</a>
        
        <button class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="true">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link"><i class="fas fa-home"></i> Inicio</a></li>
                {{#if user}}
                    {{#if admin}}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"><i class="fas fa-user"></i> ADMIN</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href=""><i class="fas fa-user"></i> {{user}}</a>
                                <a class="dropdown-item" href="/admin/produtos"><i class="fas fa-user-cog"></i> Painel</a>
                                <a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </li>
                    {{else}}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"><i class="fas fa-user"></i> User</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href=""><i class="fas fa-user"></i> {{user}}</a>
                                <a class="dropdown-item" href="/meuspedidos"><i class="fas fa-shopping-basket"></i> Meus pedidos</a>
                                <a class="dropdown-item" href="/user/meusdados"><i class="fas fa-address-book"></i> Meus dados</a>
                                <a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </li>
                    {{/if}}
                {{else}}
                    <li class="nav-item"><a href="/user/login" class="nav-link"><i class="fas fa-user"></i> login</a></li>
                {{/if}}
                <li class="nav-item"><a href="/compra/carrinho" class="nav-link"><i class="fas fa-shopping-cart"></i> Carrinho</a></li>
                <li class="nav-item"><a href="#footer" class="nav-link"><i class="fas fa-mobile-alt"></i> Contato</a></li>
                <div class="active"></div>
                <li class="nav-item">
                    <input type="text" maxlength="30" name="search" id="search" class="h-search-sm h-search" placeholder="Pesquisar produtos">
                    <button class="icon" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <ul class="p-list">
                    <li class="p--star">
                        <span class="p-img-father" alt="Produto principal" style="background-image: url(/files/{{produto.thumbnail}});"></span>
                    </li>

                    <li class="p-block">
                        <span data-pic="url(/files/{{produto.thumbnail}})"  class="p-img one" alt="produto filho" style="background-image: url(/files/{{produto.thumbnail}});"></span>
                    </li>

                    <li class="p-block">
                        <span  data-pic="url(/files/{{produto.thumbnail2}})"class="p-img two" alt="produto filho" style="background-image: url(/files/{{produto.thumbnail2}});"></span>
                    </li>

                    <li class="p-block">
                        <span data-pic="url(/files/{{produto.thumbnail3}})" class="p-img three" alt="produto filho" style="background-image: url(/files/{{produto.thumbnail3}});"></span>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="info-purchase">
                    <h1 class="title__product">{{produto.nome}}</h1>
                    <div class="icon-stars">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="far fa-star"></i></span>
                    </div>	
                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <span class="price__product">R$ {{produto.valor}},00</span>
                        </div>

                        <div class="col-md-6">
                            <label for="qtd">Quantidade</label>
                            <input class="form-control-sm" type="number" name="qtd" id="qtd" value="1" min="1" max="{{produto.estoque}}" onchange="valorTotal()">
                            {{!-- <select class="form-control-sm" name="qtd" id="qtd">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select> --}}
                        </div>

                        <div class="col-md-12">
                            <p class="describe__product">
                                {{produto.descricao}}
                            </p>
                        </div>

                        <div class="p-result">
                            <div class="col-md-2">
                                <label>Total:</label>
                            </div>

                            <div class="col-md-5">
                                
                                <p class="p__result" id="result">R$ {{produto.valor}},00</p>
                                <!-- <input type="text" placeholder="1800,00" readonly class="form-control form-control-sm"> -->
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            {{#if user}}
                                <form action="/compra" method="post" class="form-compra">
                                    <input type="hidden" name="id_produto" value="{{produto._id}}">
                                    <input type="hidden" name="total" id="total" value="{{produto.valor}}">
                                    <input type="hidden" name="qtd" class="qtd_prod" value="1">

                                    <button type="submit" class="btn btn-efect-two">Comprar</button>
                                </form>
                                <form action="compra/addcarrinho" method="post">
                                    <input type="hidden" name="id-produto" value="{{produto._id}}">
                                    <button type="button" class="btn btn-default p-2">Adicionar ao carrinho</button>
                                </form>
                            {{else}}
                                <form action="/compra" method="post" class="form-compra">
                                    <button type="submit" class="btn btn-efect-two" data-toggle="tooltip" data-placement="bottom" title="Você ainda não está logado" disabled>Comprar</button>
                                </form>
                                <form action="compra/addcarrinho" method="post">
                                    <button type="button" class="btn btn-default p-2" data-toggle="tooltip" data-placement="bottom" title="Você ainda não está logado" disabled>Adicionar ao carrinho</button>
                                </form>
                            {{/if}}
                        </div>
                        <!-- fim da linha  -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</section>

<section id="commit">
    <div class="container">
        <div class="col-md-12">
                <h1 class="c__title">Reviews</h1>
        </div>
        <section class="client">
            <div class="row">
                <div class="col-md-4">
                    <!-- inicio avatar  -->
                    <div class="avatar">
                        <div class="col-md-4">
                            <img src="/public/img/me.png" alt="Avatar" class="avatar__img">
                        </div>  
                        
                        <div class="col-md-8">
                            <h2 class="c__client">Marcos Vinicius</h2>
                            <small class="c__date">02/11/2019</small>    
                            <div class="mt-1">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <!-- fim avatar  -->
                    </div>
                    <!-- fim da coluna  -->
                </div>
            
                <div class="col-md-8 " style="margin-top:2rem;">
                    <p class="c__commits">
                        Esse site ta muito foda! 
                        Parabéns aos envolvidos.
                    </p>
                    <p class="c__commits">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sapiente earum molestiae impedit cumque, nobis provident unde expedita. Deleniti, in maxime! Illo ea vitae, eum exercitationem repellendus officiis delectus in?</p>
                </div>
            </div>
        </section>

        <section class="client">
                <div class="row">
                    <div class="col-md-4">
                        <!-- inicio avatar  -->
                        <div class="avatar">
                            <div class="col-md-4">
                                <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" class="avatar__img">
                            </div>  
                            
                            <div class="col-md-8">
                                <h2 class="c__client">Lucas Rocha</h2>
                                <small class="c__date">02/11/2019</small>    
                                <div class="mt-1">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="far fa-star"></i></span>
                                    <span><i class="far fa-star"></i></span>
                                </div>
                            </div>
                            <!-- fim avatar  -->
                        </div>
                        <!-- fim da coluna  -->
                    </div>
                
                    <div class="col-md-8 " style="margin-top:2rem;">
                        <p class="c__commits">
                            Esse site ta muito foda! 
                            Parabéns aos envolvidos.
                        </p>
                        <p class="c__commits">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sapiente earum molestiae impedit cumque, nobis provident unde expedita. Deleniti, in maxime! Illo ea vitae, eum exercitationem repellendus officiis delectus in?</p>
                    </div>
                </div>
        </section>

        <section class="client">
            <div class="row">
                <div class="col-md-4">
                    <!-- inicio avatar  -->
                    <div class="avatar">
                        <div class="col-md-4">
                            <img src="https://images.pexels.com/photos/716658/pexels-photo-716658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" class="avatar__img">
                        </div>  
                        
                        <div class="col-md-8">
                            <h2 class="c__client">Wesley Sousa</h2>
                            <small class="c__date">02/11/2019</small>    
                            <div class="mt-1">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                        </div>
                        <!-- fim avatar  -->
                    </div>
                    <!-- fim da coluna  -->
                </div>
            
                <div class="col-md-8 " style="margin-top:2rem;">
                    <p class="c__commits">
                        UAU! Muito foda esse PC gamer
                        Super recomendo!! 
                        Parabéns aos envolvidos.
                    </p>
                    <p class="c__commits">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sapiente earum molestiae impedit cumque, nobis provident unde expedita. Deleniti, in maxime! Illo ea vitae, eum exercitationem repellendus officiis delectus in?</p>
                </div>
            </div>
        </section>

        <section class="client">
            <div class="row">
                <div class="col-md-4">
                    <!-- inicio avatar  -->
                    <div class="avatar">
                        <div class="col-md-4">
                            <img src="https://images.pexels.com/photos/3127364/pexels-photo-3127364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" class="avatar__img">
                        </div>  
                        
                        <div class="col-md-8">
                            <h2 class="c__client">Leandro Ferreira</h2>
                            <small class="c__date">02/11/2019</small>    
                            <div class="mt-1">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                        </div>
                        <!-- fim avatar  -->
                    </div>
                    <!-- fim da coluna  -->
                </div>
            
                <div class="col-md-8 " style="margin-top:2rem;">
                    <p class="c__commits">
                        Esse site ta muito foda! 
                        Parabéns aos envolvidos.
                    </p>
                    <p class="c__commits">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sapiente earum molestiae impedit cumque, nobis provident unde expedita. Deleniti, in maxime! Illo ea vitae, eum exercitationem repellendus officiis delectus in?</p>
                </div>
            </div>
        </section>

    </div>
</section>

<script>
    window.onload = function () {
        valorTotal()
    }
    function valorTotal(){
        let valorUnitario = {{produto.valor}}
        let qtd = document.getElementById('qtd').value
        if(document.getElementsByClassName('qtd_prod').length > 0) {
            document.getElementsByClassName('qtd_prod')[0].value = qtd
            console.log(document.getElementsByClassName('qtd_prod'))
        }

        let result = valorUnitario * qtd
        console.log(result, qtd)

        document.getElementById('result').innerHTML = "R$ " + result + ",00"
        document.getElementById('total').value = result
    }

</script>